<!DOCTYPE html>
<html>
<head>
    <title>温湿度数据查看</title>
</head>
<body>
    <form action="/" method="get">
        <label for="date">日期:</label><br>
        <input type="date" id="date" name="date" value="{{ date }}"><br>
        <input type="submit" value="查询">
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>时间</th>
            <th>温度</th>
            <th>湿度</th>
        </tr>
        {% for data in data_list %}
        <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.timestamp }}</td>
            <td>{{ data.temperature }}</td>
            <td>{{ data.humidity }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
